
	*{
		padding: 0;
		margin: 0;
		/*font-family: 'Trebuchet MS', sans-serif;*/
		font-family: Arial, Helvetica, sans-serif;




	}



		.main{
		display: grid;
		grid-template-rows: auto auto 15% 30% 10% 11% ;


		}


		
		.container {
	position: relative;
	text-align: center;
	color: white;
}

.centered {
	position: absolute;
	top: 40%;
	left: 50%;

	transform: translate(-50%, -40%);
	font-size:4vw;
	line-height: 1;
	 
	 font-family:"Calibri (Body)";
	 text-align: center;
	 
	
	


}


.centered7 {
position: absolute;
	top: 40%;
	left: 50%;

	transform: translate(-50%, -30%);
	font-size:4vw;
	line-height: 1;
	 
	 font-family:"Calibri (Body)";
	 text-align: center;
	 
	text-align: left; font-family:   Lato, sans-serif; 
	text-align: center;  
	font-weight: 500;
	 font-size: 2.3vw;
	


}



.centered6 {
	position: absolute;
	top: 42%;
	left: 49%;
	

	transform: translate(-48%, -40%);
	font-size:2vw;
	line-height: 1;
	 
	 font-family:"Calibri (Body)";
	 text-align: center;
	 letter-spacing: 2px;
	 
	
	


}



.centered1 {
	position: absolute;
	top:32%;
	left: 46%;


	
	transform: translate(-38%, -5%);
	font-size:2.5vw;


}
.center1 {
	position: absolute;
	top: 71%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size:1vw;
	border:0.1vw solid white;
	border-radius:0.4vw;
	padding:0.9vw;



}
.center2 {
	position: absolute;
	top: 65%;
	left: 50%;

	transform: translate(-38%, -10%);
	font-size:2vw;
	border:0.1vw solid white;
	border-radius:0.4vw;
	
	padding: .3vw;
	margin-left: -1%;
	text-align: center;


}
 .center2 p{
 	font-size:1vw; padding: .5vw; 
 }
.center4 {
	position: relative;
	margin-top: 10%;
	
	left: 50%;
	transform: translate(-50%, -50%);
	font-size:2vw;

	text-align: center;




}
.center4 p{
	border:0.1vw solid #ECF3F2;
	border-radius:0.4vw;
	padding:1vw;
	margin-left: 40.5%;
		margin-right: 40.5%;
		background-color: #4DD7CC;
		font-size: 1vw;
		color: #ECF3F2;

		/*border:0.1vw solid #ECF3F2;
	border-radius:0.4vw;
	padding:2vw;
	margin-left: 30.5%;
		margin-right: 30.5%;
		background-color: #4DD7CC;
		font-size: 3vw;
		color: #ECF3F2;*/

}
#on{
	position: relative;
	
	text-align:center;
	color:#404040;
	padding: .2vw;
	line-height: 1vw;
	margin-top: 0%;
	
	margin-bottom:  1.5%; 
	font-size: 1.7VW;
}
#on3{
	font-size:1.6vw;
	text-align:center;
	color:#E0E0E0;
	padding: .2vw;
	
}


.container1{
	position: relative;
	
	display:grid;
	grid-template-columns:1fr 1fr 1fr;
	margin-left:10%;
	margin-right:10%;
	grid-gap:3%;
	font-size:1.5vw;
	color:grey;


}

.container1 p{
	font-size: 1vw;
	


}

.container1 h3{
	margin-top: 2%; margin-bottom: 2%; font-size: 1vw; font-size: 1vw;
	
}


.container1 hr{
	border-top: 1px dashed grey; margin-top: 2vw;
	
	


}


.container11{
	position: relative;
	
	display:grid;
	grid-template-columns:1fr 1fr 1fr 1fr;
	margin-left:0%;
	margin-right:10%;
	grid-gap:3%;
	font-size:1.5vw;
	color:grey;


}


#imgx{
	width:100% ; height:100%
}
	.container3{
		display:grid;
		grid-template-columns:1fr 1fr 1fr ;
		margin-left:11%;
		margin-right:11%;
		
		grid-row-gap: 5vw;
		grid-column-gap: 2.2vw;
		color:grey;
		text-align:center;
	}

    .items{
    	position: relative;
    }

#foot{
	margin-left:20%;
	 margin-right:20%; 
	 
	  
	 


}

#imx{
	font-size: 1.5vw;
}
i{
	font-size:1vw;
}
#num1{
	margin-left:20%; margin-right:20%; margin-top: 0%; margin-bottom: 0%; padding:4vw; font-size: 1.2vw; color:white; line-height:2vw;
}


    
.container3 p{
		font-size: 5px;
		float:center;
		
	}


	#hr1{
     position: relative; margin-top: 2%; margin-left:38%; margin-right:38%
	}

	#hr2{
         margin-left:38%; margin-right:38%; 
	}
    @media only screen and (max-device-width: 600px) {

    	*{
    	}
    	.main{

    		display: flex;
  flex-direction: column;
   height: 200px;
  


    	}
    	.container{
    		
    	}
    	#k{
    		height: 450px;
    	}
    	
    	
    	


.centered {
	font-size: 30px;
	width: 90%;
	 
      }    

.center1 {
	position: relative;
	top: -10%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size:5vw;
	border:0.1vw solid white;
	border-radius:0.4vw;
	padding:0.9vw;
	
	margin-right: 40%;



}
    
#on{
	position: relative;
	
	text-align:center;
	color:#404040;
	padding: .2vw;
	line-height: 1vw;
	margin-top: 0%;
	
	margin-bottom:  1.5%; 
	font-size: 5vw;
}
 
.container1{
	position: absolute;
	
	  display: flex;
  flex-direction: column;
  justify-content: center;
	margin-left:10%;
	margin-right:10%;
	
	font-size:1.5vw;
	color:grey;
	padding: 10px;


}

.container1 h3{
	font-size: 40px;
	


}

.container1 p{
	font-size: 20px;
	


}
.container1 i{
	font-size: 20px;
	


}

#imgx{
    height: 200px;
    }

.centered7 {
	top: 15%;
font-size: 20px;
	width: 90%;
	


}


 .center2 {
	position: absolute;
	top: 65%;
	left: 50%;

	transform: translate(-38%, -10%);
	font-size:2vw;
	border:0.1vw solid white;
	border-radius:0.4vw;
	
	padding: .3vw;
	margin-left: -1%;
	text-align: center;


}
 .center2 p{
 	font-size:3vw; padding: .7vw; 
 }

#on{
	position: relative;
	
	text-align:center;
	color:#404040;
	padding: .2vw;
	line-height: 1vw;
	margin-top: 5%;
	
	margin-bottom:  1.5%; 
	font-size: 4VW;
}

.container3{
		position: relative;
	
	  display: flex;
  flex-direction: column;
  justify-content: center;
	margin-left:10%;
	margin-right:10%;
	
	font-size:1.5vw;
	color:grey;
	padding: 10px;
	}

    .items{
    	position: relative;
    }

.container3{
		position: relative;
	
	  display: flex;
  flex-direction: column;
  justify-content: center;
	margin-left:10%;
	margin-right:10%;
	
	font-size:1.5vw;
	color:grey;
	padding: 10px;
	}

	


#imx{
	font-size: 5vw;
}

#icon{
	font-size: 4vw;
}

  .center4 {
     	position: relative;
     	margin-top: 10%;
	
     	left: 50%;
    	transform: translate(-50%, -40%);
    	font-size:3vw;

	    text-align: center;
	    background-color: #E8E8E8;
}

.center4 p{
	border:0.1vw solid #ECF3F2;
	border-radius:0.4vw;
	padding:2vw;
	margin-left: 30.5%;
		margin-right: 30.5%;
		background-color: #4DD7CC;
		font-size: 3vw;
		color: #ECF3F2;

}


.container11{
	position: relative;
	
	 display: flex;
  flex-direction: column;
	
	grid-gap:3%;
	font-size:1.5vw;
	



}


.container11 img{
	width: 80%;
	margin-left: 10%;
	


}

#num1{
	margin-left:5%; margin-right:5%; margin-top: 0%; margin-bottom: 0%; padding:4vw; font-size: 3vw; color:white; line-height:4vw;
}

#hr1{
     position: relative; margin-top: 4%; margin-left:30%; margin-right:30%
	}

	#hr2{
         margin-left:30%; margin-right:30%; 
	}
      	
      	}